In [60]:

from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
from pprint import pprint
import pandas as pd

In [39]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/yazminrodriguez/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver] found in cache

### NASA Mars News
Finding the title and paragraph from: https://redplanetscience.com/

In [40]:
# Visit visitcostarica.herokuapp.com
url = "https://redplanetscience.com/"
browser.visit(url)

In [41]:
 # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

    # Get the average temps
avg_temp= soup.find('div',class_='content_title')

In [42]:
avg_temp.text

"NASA's Perseverance Rover 100 Days Out"

In [43]:
mars={}

In [44]:
mars["news_title"]= avg_temp.text

In [45]:
#Paragraph
parag= soup.find('div',class_='article_teaser_body')

In [46]:
parag.text

"Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car."

In [47]:
mars["news_paragraph"]= parag.text

In [48]:
mars

{'news_title': "NASA's Perseverance Rover 100 Days Out",
 'news_paragraph': "Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car."}

### JPL Mars Space Images - Featured Image
Finding images from: https://spaceimages-mars.com/

In [49]:
# Visit visitcostarica.herokuapp.com
url =  'https://spaceimages-mars.com/'
browser.visit(url)

 # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [50]:
# JPL Mars Space Images - Featured Image

relative_image_path = soup.find('img', class_='fade-in').get('src')

#Joining the URL of the page + the URL of the image

featured_image_url= 'https://spaceimages-mars.com/'+ relative_image_path
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [51]:
relative_image_path

'image/featured/mars3.jpg'

In [52]:
# adding the image to Directory Mars

mars['mars_images']=relative_image_path

In [53]:
#Printing the directory
mars

{'news_title': "NASA's Perseverance Rover 100 Days Out",
 'news_paragraph': "Mark your calendars: The agency's latest rover has only about 8,640,000 seconds to go before it touches down on the Red Planet, becoming history's next Mars car.",
 'mars_images': 'image/featured/mars3.jpg'}

### Mars Facts
Finding a table from: https://galaxyfacts-mars.com/

In [54]:
# Visit visitcostarica.herokuapp.com
url =  'https://galaxyfacts-mars.com/'
browser.visit(url)

 # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [61]:
# Scraping to get the table of facts

table_facts= soup.find('table',class_='table table-striped')
table_facts

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [120]:
# Use Panda's `read_html` to parse the url
mars_facts = pd.read_html(url, match='Equatorial Diameter')

# Find the mars facts DataFrame in the list of DataFrames and assign it to `mars_df`
mars_df = mars_facts[0]

mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [122]:

# Assign the columns Category, Value
mars_df.columns = ['Category','Value']

# Set the index to the `Description` column without row indexing
mars_df.set_index('Category', inplace=True)

# Save html code to folder Assets
mars_df.to_html()

data = mars_df.to_dict(orient='records')  # Here's our added param..

# Display mars_df
mars_df

                                              Value
Category
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

### Mars Hemispheres

Obtaining high resolution images for each of Mar's hemispheres.https://marshemispheres.com/

In [141]:
# Visit the website
url =  'https://marshemispheres.com/'
browser.visit(url)

 # Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [142]:
#Save both the image url string for the full resolution hemisphere
#image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

# Retrieve all items with Mars Hemisphere info (4)
relative_path = soup.find('div', class_='item')

# Create empty list for hemisphere_image_urls
hemisphere_image_urls=[]

# Store in the list the main url
main_url_hemisphere= 'https://marshemispheres.com/index.html'

In [144]:
items=[]


#Loop through the items 
for i in items:
    #Store title
    title= i.find('h3').text
    
    #Store link that leads to full image website
    img_url= i.find('a', class_='open_toggle')['href']
    
    #Open link with the full image
    browser.visit(main_url_hemisphere + img_url)
    
    #HTML object of individual hemisphere information website
    img_url_html = browser.html
    
    #Parse HTML with bs for each hemisphere information website
    soup = bs(img_url_html, "html.parser")
    
    #Retrieve full image source
    full_img_url= main_url_hemisphere + soup.find('img',class_= 'wide-image')['src']
    
    #Append this retrieved info to the list of dicts.
    hemisphere_image_urls.append({'title':title, 'image_url':'full_img_url'})

NameError: name 'items' is not defined

In [ ]:
links = browser.find_by_css('a.product-item img')
   
#Print hemisphere list of dicts.
hemisphere_image_urls